
.centered{
	text-align :center;
	background-color: #eee;
}

#history-header{
	margin-left: 0px;
}

#present-header{
	margin-left: 0px;
}

#drugs{
	overflow: scroll;
	height: 330px;
	background-color: #ffffff;
}

#olddrugs{
	overflow: scroll;
	background-color: #ffffff;
	height: 390px;
}

#actionbar{
	display: none;
}

.header{
	background-color: #2fb593;
	
}

.header1{
	background-color: #3CDDDD;
	background-image: -moz-linear-gradient(bottom, #027979 0%, #3CDDDD 100%);
}

.header_text{
	text-align:center;
	font-family:"Akzidenz Grotesk";
	font-size:30px;
	color:#ffffff;
}

.btn-primary-m {
    background-color: #2fb593;
    background-image: linear-gradient(to bottom, #249075, #279D80);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#contact-doctor-bar{
	background-color: #FAA732;
	height:40px;
}

.span-background{
	background-color:#f2f2f2;
	height:420px;
}

.doctor-btn{
	background-color:#86F6F6;
	height:100px;

	border-width:1px;
    border-style:solid;
    border-color:#027979;
}

.doctor-name{
	text-align:left;
	font-family:"Akzidenz Grotesk";
	font-size:30px;

}


#doctor_message_box{


}

#log-in-page{
	height: 460px;
}

.doctor-message{
	text-align: left;
	background-color: #DFF0D8;
	border:5px; 
	border-style:solid;
	border-color:#f2f2f2;

}

.patient-message{
	 text-align: right;
  	 margin-right: 1em;
  	 background-color: #F9EDBE;
  	 border:5px; 
	border-style:solid;
	border-color:#f2f2f2;
}

.conversation-text{
	margin-left:auto; 
    margin-right:auto;
}

.message-area{
	float:right;
}


#message-box-size{
	height: 310px;
	overflow:scroll;
}

#main-page{
	border:3px;
	border-style:solid;
	border-color: black;
	height: 500px;
	background-color: #EEEEEE;
}

#app_log_in_sign_up_btn{
	
}

#log_in_table{
	padding-top: 60px;
	position:relative;
	top:50px;
}

#log_in_btn_group{
	position:relative;
	top:50px;

}

.bar_btn_group{
	position:relative;
	top:5px;

}

.mesage-area{
	position:relative;
	top:29px;
}

#doctor_message_submit_btn{
	position:relative;
	top:-5px;
	left: 330px
}

body{
	font-family: "Akzidenz Grotesk";
}


#add_new_pills_btn{
	position:relative;
	top:5px;
	left: 150px
}

.edit_drug_label{
	float: left;
    width: 150px;
    text-align: right;
    margin-right: 0.5em;
}










